.login-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  align-items: center;
    animation: bounce 1s;
}

.login-input {
  background-color: white;
  border-radius: 10rem;
  outline: none;
  color: black;
    border: none;
}
.login-input::-webkit-input-placeholder {
  font-size: larger;
}
.buttons-wrapper{
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
    align-items: center;
  gap: 1rem;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
    width: 8rem;
  background-color: var(--main-color);
  border: 2px solid white;
  color: white;
    padding: 4px;
}
.register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 7rem;
  background-color: var(--main-color);
  border: 2px solid white;
  color: white;
}
.ecole-login-button {
  position: relative;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 2rem;
  transition: background-color 0.5s linear, color 0.5s linear;
  width: 100%;
}
.ecole-login-button:hover {
  background-color: white;
  color: black;
  border-radius: 2rem;
}
.ecole-login-button:hover > div {
  transition: all 0.5s linear;
  visibility: visible;
  color: black;
  border-radius: 2rem;
}
.ecole-login-button > div {
  transition: all 0.5s linear;
  visibility: hidden;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.ecole-login-button > div > img {
  width: 1.5rem;
}
.login-button-loader{
  width: 24px;
  height: 24px;
}
.login-button-loader div{
  width: 24px;
  height: 24px;
}