.error-container {
  display: grid;
  place-items: center;
  height: 100%;
}
pong-redirect button{
  border-radius: 1rem;
  width: 100%;
  background-color: var(--main-color);
  border: 2px solid white;
  color: white;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}