.register-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  align-items: center;
  flex-basis: 10px;
}
.register-input {
  background-color: white;
  border-radius: 10rem;
  outline: none;
  color: black;
}
.register-input::-webkit-input-placeholder {
  font-size: larger;
}
.register-button {
  border-radius: 1rem;
  width: 7rem;
  background-color: var(--main-color);
  border: 2px solid white;
  color: white;
  flex: 1;
}
.ecole-register-button {
  position: relative;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 2rem;
  transition: background-color 0.5s linear, color 0.5s linear;
  width: 100%;
}
.ecole-register-button:hover {
  background-color: white;
  color: black;
  border-radius: 2rem;
}
.ecole-register-button:hover > div {
  transition: all 0.5s linear;
  visibility: visible;
  color: black;
  border-radius: 2rem;
}
.ecole-register-button > div {
  transition: all 0.5s linear;
  visibility: hidden;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.ecole-register-button > div > img {
  background-image: url("/public/42.svg");
  width: 1.5rem;
}

.register-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.register-password {
  display: flex;
  gap: 2px;
}
