.verification-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    align-items: center;
    width: 50%;
    gap: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

p,
h2 {
    text-align: center;
}

.row {
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.row input {
    border-radius: 15px;
    background: whitesmoke;
    padding: 10px;
    height: 65px;
    width: 50px;
    font-size: xx-large;
    text-align: center;
    outline: none;
    border: none;
    color: black;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

button {
    width: 10em;
    padding: 5px;
    border: white 1px solid;
    border-radius: 20px!important;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    transition-duration: 1s;
}

button:hover {
    background-color: white;
    color: black;
}