 {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/register.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap"
      rel="stylesheet"
    />

    <title>Login</title>
  </head>
  <body>
    <main class="main">
      <div class="background container-fluid">
        <div class="d-flex align-items-center justify-content-center h-100">
          <form class="register-wrapper p-5 gap-2" id="register-form">{% csrf_token %}
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <h1 style="color: white">REGISTER</h1>
            </div>
            <div class="register-input-wrapper">
              <label for="username">username</label>
              <input
                type="text"
                class="register-input p-2"
                placeholder="USERNAME"
                id="username"
              />
            </div>
            <div class="register-password">
              <div class="register-input-wrapper">
                <label for="password">password</label>
                <input
                  type="text"
                  class="register-input p-2"
                  placeholder="PASSWORD"
                  id="password"
                  required
                />
              </div>
              <div class="register-input-wrapper">
                <label for="password">Re enter your password</label>
                <input
                  type="text"
                  class="register-input p-2"
                  id="password2"
                  required
                />
              </div>
            </div>
            <div class="register-input-wrapper">
              <label for="Email">Email</label>
              <input
                type="text"
                class="register-input p-2"
                placeholder="EMAIL"
                id="email"
                required
                oninvalid="this.setCustomValidity('Please enter valid email')"
              />
            </div>
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100%;
              "
            >
              <div>
                <button class="register-button">REGISTER</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <script src="{% static 'scripts/register.js' %}" type="module"></script>
  </body>
</html>
