asgiref==3.7.2
channels==4.0.0
Django==5.0.3
django-cors-headers==4.3.1
django-filter==24.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.9
PyJWT==2.8.0
pyotp==2.9.0
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.4.4
tzdata==2024.1
django-cors-headers==4.3.1
pillow==10.2.0
channels==4.0.0
channels-redis==4.2.0
daphne==4.1.0
django-elasticsearch-dsl
python-logstash==0.4.8
python-logstash-async
json_log_formatter
config
uvicorn
gunicorn